name: Cpp porject with gtest

on: [push]

jobs:
  build:
    runs-on: self-hosted

    env:
      CC:  clang
      CXX: clang++

    steps:
    - name: Checkout submodules
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Run clang format
      run: find . -iname "*.h" -o -iname "*.hpp" -o -iname "*.cpp" -exec clang-format --dry-run --Werror -style=file {} +

    - name: Build default
      run: mkdir build && cmake -S. -Bbuild -DUSE_CLANG_TIDY=TRUE -DTESTS_BUILD_TYPE=NONE -DCMAKE_BUILD_TYPE=Release && cmake --build build
    - name: Run default tests
      timeout-minutes: 3
      working-directory: ./build/libraries/SeamCarver
      run: ./runUnitTests

    - name: Build ASAN
      run: mkdir build_ASAN && cmake -S. -Bbuild_ASAN -DTESTS_BUILD_TYPE=ASAN -DCMAKE_BUILD_TYPE=Debug && cmake --build build_ASAN
    - name: Run ASAN tests
      timeout-minutes: 5
      working-directory: ./build/libraries/SeamCarver
      run: ./runUnitTests

    - name: Build LSAN
      run: mkdir build_LSAN && cmake -S. -Bbuild_LSAN -DTESTS_BUILD_TYPE=LSAN -DCMAKE_BUILD_TYPE=Debug && cmake --build build_LSAN
    - name: Run LSAN tests
      timeout-minutes: 5
      working-directory: ./build/libraries/SeamCarver
      run: ./runUnitTests

    - name: Build USAN
      run: mkdir build_USAN && cmake -S. -Bbuild_USAN -DTESTS_BUILD_TYPE=USAN -DCMAKE_BUILD_TYPE=Debug && cmake --build build_USAN
    - name: Run USAN tests
      timeout-minutes: 5
      working-directory: ./build/libraries/SeamCarver
      run: ./runUnitTests
